body {
    background-color: #f0c667;
}

.main {
    border-radius: 0.5em;
    margin: 3%;
    font-size: 20px;
    /*font-size: calc((100vw - 480px) / (1900 - 480) * (24 - 16) + 16px);*/
    font-family: Gill Sans, sans-serif;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    height: 6em;
    border-bottom: 1px solid #cecccc;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 6em;
}

.text_1-5em {
    font-size: 1.5em;
}

.text_1-2em {
    font-size: 1.2em;
}

.text_0-9em {
    font-size: 0.9em;
}

.text_0-8em {
    font-size: 0.8em;
}

.text_selected {
    font-weight: bold;
    color: orangered;
}

.text_disable {
    color: #898888;
}

.categories {
    padding-top: 1.5em;
}

.categories__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__filter {
    display: flex;
    flex-wrap: wrap;
}

.categories__sort {
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.sort-label {

}

.sort-bottom {
    display: none;
}

.content {
    padding-top: 2em;
}

.content__items {
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.pizza {
    margin-bottom: 4em;
    width: 16em;
}

.pizza__image {
    height: 14em;
    width: 14em;
    margin: 0 1em;
}

.pizza__image img {
    width: 100%;
}

.pizza__title {
    font-size: 1.1em;
    text-align: center;
    margin: 0.8em 0;
}

.pizza__filter {
    padding: 0.2em;
    background-color: #e0e0e0;
    border-radius: 0.5em;
}

.pizza__dough-parameters {
    display: flex;
}

.pizza__size-parameters {
    display: flex;
    padding-top: 0.1em;
}

.pizza__bottom {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.pizza__price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-layout {
    background-color: gray;
    border-radius: 1em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-settings-button {
    background-color: transparent;
    margin: 0.1em;
    height: 1.8em;
    width: 50%;
    border-radius: 0.3em;
}

.category-button {
    background-color: #e0e0e0;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    text-align: center;
    padding: 0 1.2em;
    border-radius: 1.2em;
    height: 2.4em;
}

.cart-button {
    word-break: break-all;
    overflow: hidden;
    background-color: orangered;
    color: white;
    height: 3em;
    border-radius: 1.4em;
    align-self: center;
    padding: 0 1em;
}

.bottom-button {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
    padding: 0 0.6em;
}

.button_selected {
    background-color: orangered;
    color: white;
}

.categories .button_selected {
    background-color: #363636;
}

.pizza__dough-parameters .button_selected {
    background-color: white;
    color: black;
}

.pizza__size-parameters .button_selected {
    background-color: white;
    color: black;
}

.button_disable {
    color: #b3b3b3;
}

.button_re-selected {
    background-color: orangered;
    color: white;
    margin-left: 0.5em;
    border-radius: 50%;
    height: 1.4em;
    width: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_selected .button_re-selected {
    background-color: white;
    color: orangered;
}

@media screen and (max-width: 1600px) {
    .content__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .content__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    body {
        background: black;
    }
    /*.content__items {*/
    /*    grid-template-columns: repeat(1, 1fr);*/
    /*}*/

    /*.main {*/
    /*    font-size: 25px;*/
    /*}*/
}