body {
    background-color: #f0c667;
}

.main {
    margin: 3%;
    font-size: 20px;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    height: 6em;
    background-color: red;
    border-bottom: 2px solid grey;
}

.header__logo {
    display: flex;
    align-items: center;
    background-color: grey;
}

.header__logo img {
    height: 6em;
}

.title_large {
    font-size: 1.5em;
}

.title_medium {
    font-size: 1.2em;
}

.header__button {
    height: 2em;
    width: 6em;
    background-color: #2b2727;
    align-self: center;
}

.categories {
    padding-top: 2em;
    background-color: royalblue;
}

.pizza-category {
    background-color: gray;
    margin-right: 0.2em;
}

.categories__sort {
    font-size: 0.9em;
}

.sort-label {

}

.sort-bottom {
    display: none;
}

.content {
    padding-top: 2em;
    background-color: green;
}

.content__items {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pizza {
    margin-bottom: 3em;
    height: 24em;
    width: 16em;
    background-color: grey;
}

.pizza__image {
    height: 14em;
    width: 14em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: aqua;
}

.pizza__title {
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.pizza__filter {
    padding: 0.2em;
    background-color: gray;
    height: 4em;
    text-align: center;
}

.pizza-dough__parameters {
    display: flex;
    height: 50%;
}

.pizza-dough {
    margin: 0.1em;
    background-color: coral;
    width: 50%;
}

.pizza-size__parameters {
    display: flex;
    height: 50%;
}

.pizza-size {
    margin: 0.1em;
    background-color: coral;
    width: 50%;
}

.pizza__bottom {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.pizza__price {
    margin-left: 0.3em;
}

.pizza__button {
    margin-right: 0.3em;
    height: 1.8em;
    width: 5em;
    background-color: #2b2727;
}